[submodule "ctrlp"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
